body {
  margin: 40px 10px;
  padding: 0;
  background-color: #ffdb2b;
}

#calendar {
  max-width: 900px;
  margin: 0 auto;
  background-color: #ffffff;
}

#popup {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10001;
}

#popup .dialog {
  margin: 80px auto;
  width: 50%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

#popup .header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#popup .body {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

#popup .title {
  padding: 20px;
  font-size: large;
  font-weight: bold;
}

#popup .start,
#popup .end,
#popup .location {
  padding: 10px;
}

/* bootstrap overwrite */
.btn-primary {
  color: #ffffff;
  background-color: #0060a1;
  border-color: #0060a1;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #ffffff;
  background-color: #5d5d5d;
  border-color: #5d5d5d;
}
